/* SPDX-License-Identifier: Apache-2.0 */
/*
This CSS file has some fixes for standard components. These create their own HTML and may be extremely ugly.
This is a quick workaround to make sure the components look better. The next step might be templating.
*/

/* todo: somewhere P is set to no padding, which is odd... */
p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

small {
    font-size: 0.8em;
    color: #666666;
}

.start-on-new-page {
    page-break-before: always;
}

.not-on-new-page {
    page-break-before: avoid;
}

.btn-danger {
    font-family: 'robotobold', arial, sans-serif;
}

.btn-warning {
    background:  #ffab4c;
    font-family: 'robotobold', arial, sans-serif;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #cf7604;
}


.panel-title a .icon {
    transition: all 200ms ease 0s;
    width: 1em;
    height: 1em;
    background-image: url("/static_frontend/images/vendor/internet_nl/icon-arrow-down.svg") !important;
    background-size: contain
}

/* https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
a.anchor {
    display: block;
    position: relative;
    top: -30px;
    visibility: hidden;
}

/* Allow printing of background images: */
/* https://stackoverflow.com/questions/6670151/how-can-i-force-browsers-to-print-background-images-in-css */
* {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
}

@media print {
    .do-not-print {
        display: none !important;
    }
}

.testresult_without_icon {
    padding-left: 1em;
    margin-bottom: 1em;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    background-color: #fff;
}


/* Accessibility improvements */
/*#content a {
    color: #037584;
}*/

.skiplink a {
    color: black !important;
    font-weight: bold;
    background-color: white !important;
}

a {
    text-decoration: underline dotted !important;
}
